@import "./components/UsingJsx/usingJsx.css";

.App {
  margin: 0;
  padding: 40px;
}

.component-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid grey;
}

.item-container {
  width: 96%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(236, 182, 182);
}

.column {
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}